<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <span class="col col-lg-8"><h2>{{pageTitle}}</h2></span>
             <ul class='nav navbar-nav nav-right'>
                    <li>
                        <wishlist-downdown></wishlist-downdown>
                    </li>
                    <li><a><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a><i class="fa fa-user"></i></a></li>
                    <li><a>Customer Name <i class="fa fa-angle-down"></i></a></li>
            </ul>
        </div>
    </nav>
</div>

<products></products>