<div class="container-fluid col-lg-12 product-list">
    <div class="row search-bar">
      <div class="col-lg-6 col-lg-offset-1"><h2>Product List </h2><h4>({{products.length}} products)</h4></div>
      <div class="col-lg-3 col-lg-offset-1 search-section">
        <input type="text" class="search" id="search-input" 
                [(ngModel)]="listFilter"/>
        <label for="search-input"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
      </div>
      
        <sort-dropdown (sortSelection)='sortProductList($event)'></sort-dropdown>
      

    </div>
    <div class="product-list-grid col-lg-12">
            <div class="col-xs-10 col-sm-5 col-md-3 col-lg-2 product-item"  *ngFor="let product of filteredProducts">
                    <button type="button" class="wishlist" (click)="addWishList(product)">
                        <span class="wishlist-icon"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></span>
                    </button>
                    <img class="mob-image" [src]="product.imageUrl">
                    <div class="product-info">
                        <button type="button" title="" class="add-to-cart" (click)="addCart(product)">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                            <span class="add-to-cart-span">Add to cart</span>
                        </button>
                        <div class="h4"><span>{{product.productName}}</span></div>
                        <div class="price"><span>{{product.price | currency:'INR': true}}</span></div>
                    </div>
            </div>

    </div>
    
</div>